@font-face{
    font-family: DancingScript;
    src: url("DancingScript-Medium.ttf");
}
@font-face {
    font-family: Raleway;
    src: url("Raleway-Regular.ttf");
}
.nazev {
    text-align: center;
    font-family: DancingScript;
    font-size: 50px;
    height: 105vh;
}
.information{
    font-family: Raleway;
    height: 90vh;
    text-align: center;
    font-size: 30px;
}
body {
    background-color: #F5F7F7;
}
.FACE{
    width: 1000px;
    height: 500px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.psy {
    font-family: Raleway;
    height: 130vh;
    text-align: center;
    font-size: 30px;
}
.hry {
    font-family: Raleway;
    height: 170vh;
    text-align: center;
    font-size: 30px;
}
.Suri {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.Teo {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.Witcherimg {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.ets2img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}