@font-face{
    font-family: DancingScript;
    src: url("DancingScript-Medium.ttf");
}
@font-face {
    font-family: Raleway;
    src: url("Raleway-Regular.ttf");
}
.nazev {
    text-align: center;
    font-family: DancingScript;
    font-size: 50px;
    height: 105vh;
}
.information{
    font-family: Raleway;
    height: 90vh;
    text-align: center;
    font-size: 30px;
}
.APImap {
    margin: 0px;
}
body {
    background-color: #F5F7F7;
}
.FACE{
    width: 1000px;
    height: 500px;
}